* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #c9f0d7;
}

.box{
  width: 900px;
  height: 500px;
  /* border: 3px solid rgb(219, 169, 2); */
  border-radius: 25px;
  margin: auto;
  margin-top: 10vw;

  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #59d8a1 15%, #036666);
  box-shadow: 8px 8px 15px #6f9b7f;


  overflow:visible;
  
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 
}

.text_box {
  margin-right: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-top: 90px;
  color: rgb(255, 255, 255);
  /* text-shadow: 8px 8px 40px #036666; */
    font-weight: bold;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d1ab00 20%,
    #ffeb3b 29%,
    #e9d94f 77%,
    #fffb00 50%,
    #d1ab00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;

  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

span {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 0px;
  margin-top: -10px;
  color: white;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 45px;
  color: white;
  line-height: 22.5px;
}

img {
  display: flex;
  justify-content: left;
  margin-left: -80px;
  margin-top: -100px;
}

.buttons {
  display:flex;
  justify-content: space-around;
  margin-top: 55px;
  
}

button {
  width: 155px;
  height: 25px;
  
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;

  background: linear-gradient(135deg, #f8961e 15%, #f3722c);
  border-color: #ffd000;
  color: #012c2c;
  display: inline;
  /* box-shadow: 8px 8px 35px #036666; */
  overflow: hidden;
}

.exp_box {
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  /* border: 1px solid black; */
  margin-left: 30px;
  margin-right: 30px;
  width: 840px;
  height: 500px;
}

.voltar_btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.h1_exp {
  margin-top: 35px;
  font-size: 40px;
}

.dev {
  /* text-shadow: 8px 8px 35px #036666; */
}

button {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
  float: center;
  text-align: center;
  
}

button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:focus {
  outline: none;
}
button {
  background-image: linear-gradient(
    to right,
    #f8d406,
    #b99909,
    #f8ea1e,
    #c7ba05
  );
}

.buttons1 {
    display:flex;
    justify-content: space-around;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

.voltar{
  width: 90px;
}

.formulario {
  
  border-radius: 20px;

  width: 380px;
  height: 300px;
  background-color: #59d8a1;
  

  margin-top: 15px;
  display:flex;
  justify-content: center;
  align-items: center;  
}

.exp_box1 {
display: grid;

}

.entreContato {
  margin-top: 0px;
}

.form2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

.submitbtn {
  margin-top: 15px;
  display:inline;
  justify-content: center;
  align-items: center;
  margin-left: 26%;
}
#contato {
  margin-bottom: 0px;
}